{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Dirección de Transformación Digital</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
</head>
<body>
    <div id="app">
        {% include "app/header.html" %}

        {% block content %}
        {% endblock %}

        {% include "app/footer.html" %}
    </div>

        <!-- Scripts -->
        <script src="{% static 'js/vendor.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
