{% extends 'dashboard/master.html' %}
{% block content %}
    <div class="request__background">
        <h1 class="h2 color-white text-center request--title mb-8 request--title">Bitacora</h1>
        <div class="request__container">
            <form class="form-bitacora"  action="">
                <div class="raw d-flex">
                    <div class="form-control col sm:col-1/2">
                        <p>Unidad:</p>
                        <input class="form-field" type="text" autofocus maxlength="80" >
                        <p>Folio sitema:</p>
                        <input class="form-field" type="text">
                        <p>Solicitado por:</p>
                        <input class="form-field" type="text">
                    </div>
                    <div class="form-control col sm:col-1/2">
                        <p>Folio interno:</p>
                        <input class="form-field" type="text">
                        <p>Fecha:</p>
                        <input class="form-field" type="date">
                    </div>
                </div>
                <div>
                    <div class="form-control">
                        <p>Solicitud:</p>
                        <input class="form-field" type="text">
                        <p>Diagnostico:</p>
                        <input class="form-field" type="text">
                        <p>Material requerido para la reparacion:</p>
                        <input class="form-field" type="text">
                        <br>
                        <br>
                        <p>NOTA: EN CASO DE REQUERIR MATERIAL PARA SU REPARACION DEBERA SER TRAMITADO POR EL ÁREA A SU DIGNO CARGO.</p>
                    </div>
                </div>
                <div>
                    <div>
                        <p>Equipo revisado por:</p>
                    </div>
                    <div>
                        <p>Firma:_________________</p>
                        <p>Nombre:</p>
                        <input class="form-field" type="text">
                        <p>Área:</p>
                        <input class="form-field" type="text">
                    </div>
                    <div>
                        <p>Firma:_________________</p>
                        <p>Nombre:</p>
                        <input class="form-field" type="text">
                        <p>Puesto:</p>
                        <input class="form-field" type="text">
                    </div>
                    <div>
                        <p>Sello:</p>
                        <p>Recibido por:</p>
                    </div>
                </div>
                <div class="text-center">
                    <form-button type="submit" class="btn btn btn--form request--button">
                        <span>Guardar →</span>
                    </form-button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


