/*
===============================================================================
Row
===============================================================================
*/

@each $prefix, $min-width in breakpoints-by-prefix() {
    @include media($min-width) {

        #{$prefix}row {
            display: flex;
            flex-flow: row wrap;
        }

    }
}


/*
===============================================================================
Columns
===============================================================================
*/

@each $prefix, $min-width in breakpoints-by-prefix() {
    @include media($min-width) {

        #{$prefix}col-none {
            lost-column: none;
            max-width: none;
        }

        #{$prefix}col {
            lost-column: 1/1;
        }

        @each $fraction in $widths {
            #{$prefix}col-#{escape-fraction($fraction)} {
                lost-column: #{$fraction} 0;
            }
        }

    }
}


/*
===============================================================================
Offset
===============================================================================
*/

/*
 * :root selector is necessary to increase the level of specificity
 * and override the columns margin.
 */
@each $prefix, $min-width in breakpoints-by-prefix() {
    @include media($min-width) {

        :root #{$prefix}offset-0 {
            margin-left: 0;
        }

        @each $fraction in $widths {
            :root #{$prefix}offset-#{escape-fraction($fraction)} {
                @include grid-offset($fraction);
            }
        }

    }
}
