/*
===============================================================================
Lists
===============================================================================
*/

.list-reset {
    list-style: none;
    margin-left: 0;
}

.spaced > dd,
.spaced > li {
    margin-bottom: $spacer;
}


/*
===============================================================================
Inline DL
===============================================================================
*/

.dl-inline > dd,
.dl-inline > dt {
    display: inline;
}

.dl-inline > dd {
    &::after {
        content: "";
        display: block;
        width: 100%;
    }
}

.dl-inline.spaced > dd::after {
    margin-bottom: $spacer * 0.5;
}

.dl-inline.spaced-lg > dd::after {
    margin-bottom: $spacer * 0.75;
}
