/*
===============================================================================
Position
===============================================================================
*/

/*
 * Set an element position and coordinates.
 * http://bourbon.io/docs/#position
 */
@mixin position($position: relative, $coords: null null null null) {
    @if type-of($position) == list {
        $coords: $position;
        $position: relative;
    }

    $offsets: (
        top:    nth($coords, 1),
        right:  nth($coords, 2),
        bottom: nth($coords, 3),
        left:   nth($coords, 4)
    );

    position: $position;

    @each $offset, $value in $offsets {
        @if is-length($value) {
            #{$offset}: $value;
        }
    }
}
