/*
===============================================================================
Padded box
===============================================================================
*/

/*
 * Mantain a proportional height in relation to width.
 * http://daverupert.com/2012/04/uncle-daves-ol-padded-box/
 * https://github.com/suitcss/components-flex-embed/
 */
@mixin ratio-container($width, $height) {
    height: 0;
    overflow: hidden;
    padding-bottom: calc(100% * #{$height / $width});
    position: relative;
    width: 100%;

    > * {
        display: block;
        height: 100%;
        @include position(absolute, 0 null null 0);
        width: 100%;
    }
}
