// =============================================================================
// Clearfix
// =============================================================================


// Clearfix to contain floats.
//
// Credit:
// https://github.com/h5bp/html5-boilerplate
// http:www.cssmojo.com/the-very-latest-clearfix-reloaded/

@mixin clearfix {
    &::after {
        clear: both;
        content: "";
        display: block;
    }
}
