<div action="" class="request__form request__form--response">
    <h4 class="text-center mb-6">El folio de la solicitud es: <b>D057401</b></h4>

    <p>Te hemos enviado un correo de confirmación con un enlace para que puedas revisar el estado y avance de tu solicitud en cualquier momento.</p>

    <p>Igualmente puedes consultar dicho avance ingresando el folio anterior en el apartado para <a href="#" class="request--link">consultar el estado</a> de esta misma página.</p>

    <p>Cuando la solicitud sea concluida recibirás un correo de notificación.</p>

    <p class="alert alert--info alert--has-icon mt-8 size-sm">
        Detectamos que tu correo electrónico no es un correo institucional (terminación en @ujed.mx). Si lo deseas, puedes hacernos una nueva solicitud para tramitarlo.
    </p>

    <div class="text-center mt-12">
        <button class="btn btn--form" type="submit">
            <span class="mr-1">Crear nueva solicitud</span>
        </button>
    </div>
</div>