<form action="" class="request__form" id="app">
     
    <div class="form-control">
        <label for="request_description">Cuéntanos en qué podemos ayudarte</label>
        <textarea class="form-field" name="request_description" id="request_description" cols="30" rows="10"></textarea>
    </div>

    <request-upload-file>

        <template slot="paperclip">
            {% load svg %}
            {% svg 'paperclip' %}
        </template> 

        <template slot="x">
            {% load svg %}
            {% svg 'x' %}
        </template> 

    </request-upload-file>


    <div class="text-center">
        <button class="btn btn--light request--button mb-6 sm:mr-8">
            {% load svg %}
            {% svg 'arrow-left' %}
            <span class="mr-1">Regresar</span>
        </button>
        <button class="btn btn--form mb-6 request--button" type="submit">
            <span class="mr-1">Enviar</span>
        </button>

        <br>
        <a href="#" class="request--link size-sm">Cancelar solicitud</a>
    </div>
</form>