{% extends 'app/master.html' %}
{% block content %}
<section class="section section-gray">
    <div class="container">
        <div class="login-form">
            <login-form action="{% url 'public:user_login' %}"
                inline-template
                v-cloak
            >
                <form class="form-boxed">
                    <h1 class="title-form-login">Iniciar sesión</h1>
                    <div class="form-control">
                        <label for="email">Correo electrónico</label>
                        <text-field name="email" type="email" v-model="fields.email" maxlength="60" placeholder="" initial=""></text-field>
                        <field-errors name="email"></field-errors>
                    </div>
                    <div class="form-control">
                        <label for="password">Contraseña</label>
                        <text-field name="password" type="password" v-model="fields.password" minlength="6" maxlength="60" placeholder="" initial=""></text-field>
                        <field-errors name="password"></field-errors>
                    </div>
                    <div class="text-center">
                        <form-button class="btn--form w-full">
                            Enviar
                        </form-button>
                    </div>
                    <p class="text_reset-pass"><a href="contrasena">¿Has olvidado la contraseña de la cuenta?</a></p>
                </form>
            </login-form>
        </div>
    </div>
</section>
{% endblock %}