{% load svg %}
<div class="request__background">

    <p class="h2 color-white text-center request--title mb-8 request--title" >
        <b id="title-request">Enviar ticket de servicio.</b>
    </p>

    <div class="container-card">
        <div class="card-area">
            <div class="icon-card">
                <img src="../../../static/img/areas/logo-sistemas.png" alt="logo-sistemas">
            </div>
            <div class="text-card">
                <h4 class="title-card">Sistemas</h4>
                <p style="text-align: start; font-weight: bold;">SHAKE, SIIA, SIPU</p>
                <ul class="ul-card">
                    <li>Registro de nuevos usuarios</li>
                    <li>Cancelar usuarios</li>
                    <li>Asignación de accesos a módulos</li>
                    <li>Desarrollo de Sistemas</li>
                    <li>Modificaciones y/o adecuaciones a módulos</li>
                </ul>
            </div>
            <a href="http://192.168.10.37:8080/SolicitudServicios/" class="button-card" >Continuar {% svg 'arrow-right' %}</a>
        </div>

        <div class="card-area">
            <div class="icon-card">
                <img src="../../../static/img/areas/logo-digital.png" alt="logo-digital">
            </div>
            <div class="text-card">
                <h4 class="title-card">Innovación</h4>
                <ul class="ul-card">
                    <li>Soporte técnico para Mi Portal y para los sistemas de Entrega-Recepción, Declaraciones Patrimoniales, Tutorías, Formación y Desarrollo Profesional y Movilidad</li>
                    <li>Creación de aplicaciones para las URES</li>
                    <li>Desarrollo de sitios web para unidades académicas</li>
                </ul>
            </div>
            <a href="{% url 'public:forms' 'Innovación' %}" class="button-card">Continuar {% svg 'arrow-right' %}</a>
        </div>

        <div class="card-area">
            <div class="icon-card">
                <img src="../../../static/img/areas/logo-mantenimiento.png" alt="logo-mantenimiento">
            </div>
            <div class="text-card">
                <h4 class="title-card">Infraestructura</h4>
                <ul class="ul-card">
                    <li>Correos institucionales (Google Worskpace)</li>
                    <li>Soporte técnico de redes e internet</li>
                    <li>Soporte técnico de telefonía</li>
                    <li>Mantenimiento de equipo de cómputo</li>
                    <li>Registro de subdominios</li>
                    <li>Infraestructura digital</li>
                </ul>
            </div>
            <a  href="{% url 'public:forms' 'Infraestructura' %}" class="button-card">Continuar {% svg 'arrow-right' %}</a>
        </div>
    </div>
</div>
