<div class="request__background">

    <p class="h2 color-white text-center request--title mb-8 request--title" >
        <b id="title-request">Estás enviando solicitud a {{area}}</b>
    </p>
    
    <div class="request__container">
        <step-form
            urluser="{{ url }}crear-usuario"
            urlrequest="{{ url }}crear-solicitud"
            urldelete="{{ url }}cancelar-solicitud"
            area="{{area}}"
            :ureslist="{{ ureslist }}"
        >
            <template slot="doro">
                {% load svg %}
                {% svg 'doro' %}
            </template>

            <template slot="continue">
                <span>Continuar</span>
                {% load svg %}
                {% svg 'arrow-right' %}
            </template>

            <template slot="return">
                {% load svg %}
                {% svg 'arrow-left' %}
                <span class="mr-1">Regresar</span>
            </template>

            <template slot="paperclip">
                {% load svg %}
                {% svg 'paperclip' %}
            </template>

            <template slot="x">
                {% load svg %}
                {% svg 'x' %}
            </template>
            <template slot="success">
                {% load svg %}
                {% svg 'check' %}
            </template>
        </step-form>
    </div>

</div>