<div class="request__background">

    <p class="h2 color-white text-center request--title mb-8 request--title"><b>Envíanos tu solicitud</b></p>

    <step-form
        class="request__form"
        action="{{ request.build_absolute_uri }}crear-solicitud"
        :ureslist="{{ ureslist }}"
    >
        <template slot="continue">
            <span>Continuar</span>
            {% load svg %}
            {% svg 'arrow-right' %}
        </template>

        <template slot="return">
            {% load svg %}
            {% svg 'arrow-left' %}
            <span class="mr-1">Regresar</span>
        </template>

        <template slot="paperclip">
            {% load svg %}
            {% svg 'paperclip' %}
        </template> 
    
        <template slot="x">
            {% load svg %}
            {% svg 'x' %}
        </template> 
    </step-form>
</div>