/*
===============================================================================
Global
===============================================================================
*/

/*
 * Set up vertical rhythm in block elements:
 * http://csswizardry.com/2012/06/single-direction-margin-declarations/
 */
address, blockquote,
h1, h2, h3, h4, h5, h6,
dl, ol, ul, p, pre,
form, fieldset {
    margin-bottom: $spacer;
    margin-top: 0;

    &:last-child {
        margin-bottom: 0;
    }
}

figure {
    margin: 0 0 $spacer;
}

/*
 * Avoid 300ms click delay on touch devices that support the "touch-action" CSS property.
 *
 * Source: https://getbootstrap.com/docs/4.0/content/reboot/#click-delay-optimization-for-touch
 * https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
 */
a,
area,
button, [role="button"],
input:not([type="range"]),
label,
select,
textarea,
summary {
    touch-action: manipulation;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

iframe {
    border: 0;
}

img,
embed,
object,
audio,
video {
    max-width: 100%;
}

img,
svg,
video {
    height: auto;
}

svg {
    max-height: 100%;
}

/*
 * Suppress the focus outline on elements that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 * https://github.com/suitcss/base
 */
[tabindex="-1"]:focus {
    outline: none !important;
}
