.main-header {
    background: transparent linear-gradient(90deg, #BD4A84 0%, #E54469 25%, #B11830 90%) 0% 0% no-repeat padding-box;
    left: 0px;
    opacity: 1;
    padding: 13px 0;
    width: 100%;

    @include media($menu-breakpoint) {
        padding: 27px 0;
    }
}

.main-logo__dtd {
    display: inline-block;
    width: 100px;

    @include media($menu-breakpoint) {
        width: 188px;
    }
}

.main-logo__ujed {
    display: none;
    width: 165px;

    @include media($menu-breakpoint) {
        display: inline-block;
    }
}

.main-header__btn {
    background: transparent;
    border: 0px;
    display: inline-flex;
    height: 18px;
    padding: 0px;
    padding-top: 15px;
    position: absolute;
    right: 20px;
    width: 22px;
    

    & :first-child {
        margin-top: -8px;
    }

    & :last-child {
        margin-top: 8px;
    }

    @include media($menu-breakpoint) {
        display: none;
    }
}

.main-header__span {
    background-color: #fff;
    border-radius: 1px;
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    width: 22px;

    
}