/*
================================================================================
Request
================================================================================
*/

.request__background {
    background-image: url(/static/img/fondo-peticiones-sm.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;

    @include media(720) {
        background-image: url(/static/img/fondo-peticiones.jpg);
    }
}

.request__container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #00000029;
    margin: 0 15px;
    max-width: 570px;
    overflow: hidden;
    padding: 15px;
    padding-bottom: 40px;
    padding-top: 30px;
    position: relative;
    width: calc(100% - 30px);

    @include media(600) {
        margin: auto;
        width: 100%;
    }
}

.request__form {
    display: flex;
    width: 200%;

    & .form-control {
        margin-bottom: 30px;
    }

    & svg {
        height: 1em;
    }
}
.request-step {
    margin-top: 45px;
    padding: 15px;
    padding-bottom: 40px;
    width: 50%; 
}

.request__form--response {
    & h4 {
        font-size: 20px;
    }

    & p {
        font-size: 14px;
    }
}

.request--button {
    width: 100%;

    @include media(600) {
        width: 160px;
    }
}

.request--title {
    padding-top: 150px;
    position: relative;
}

.request__step .content-1:before {
    content: '1';
}

.request__step .content-2:before {
    content: '2';
}

.request__step .content-check:before {
    content: url(../img/icons/check.svg);
    filter: invert(1);
    transform: translate(1px, 3px) scale(0.2);

    animation: successIcon ease-in 200ms forwards;
    
}

.request__step:first-child {
    margin-right: 40px;
}

.request__step {

    & span {
        align-items: center;
        color: $color-gray-40;
        display: block;
        font: Bold 13px/10px Open Sans;
        height: 28px;
        justify-content: center;
        letter-spacing: 0;
        text-align: center;
        width: 28px;
    }

    & span:before {
        color: #fff;
        display: block;
        font-size: 11px;
        height: 28px;
        position: absolute;
        transform: translate(-1px, 8px);
        width: 28px;
    }

    & small {
        color: $color-gray-60;
    }

    & svg {
        height: auto;
    }
}

.request__step--active {
   & span {
        animation: activeDoro 500ms forwards;
    }

    & small {
        color: #CE4779;
    }
}

.request__step--active__reverse {
    & span {
         
         animation: activeDoro 500ms forwards reverse;
     }
 
     & small {
         color: $color-gray-40;
     }
 }

.request__step--success {

    & span {
        animation: successDoro 500ms forwards;
    }

    & small {
        color: $color-gray-60;
    }
}

.request__step--success__reverse {

    & span {
        animation: successDoro 500ms forwards reverse 500ms;
    }

    & small {
        color: #CE4779;
    }
}

.request__progress {
    border: 1px solid $color-gray-40;
    height: 0px;
    margin: 12px 0;
    margin-left: 15px;
    position: absolute;
    width: 85px;
    
}

.request__progress--active {
    border-color: $color-success;
    animation: activeProgress 500ms forwards;
}

.request__progress--active__reverse {
    border-color: initial;
    animation: activeProgress 500ms forwards reverse;
}

.opacity-0 {
    opacity: 0;
}


@keyframes activeProgress {
    0% {
        opacity: 0;
        width: 0px;
    }

    100% {
        opacity: 1;
        width: 85px;
    }
}

@keyframes successDoro {
    0% {
        color: #CE4779;
    }

    100% {
        color: $color-success;
    }
}

@keyframes activeDoro {
    0% {
        color: $color-gray-40;
    }

    100% {
        color: #CE4779;
    }
}

@keyframes successIcon {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }

    80% {
        opacity: 1;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(0.6);
    }
}


.successRequest {
    padding: 15px;
}
