/*
===============================================================================
Brand
===============================================================================
*/

$color-green:          #5a8 !default;
$color-orange:         #e75a5d !default;
$color:                $color-green !default;

// Gray (with a tint of blue)
$color-gray:           #adb5bd !default;
$color-gray-lighter-1: lighten($color-gray, 12%) !default;
$color-gray-lighter-2: lighten($color-gray, 18%) !default;
$color-gray-lighter-3: lighten($color-gray, 22%) !default;
$color-gray-lighter-4: lighten($color-gray, 24%) !default;
$color-gray-lighter-5: lighten($color-gray, 27%) !default;
$color-gray-darker-1:  darken($color-gray, 10%) !default;
$color-gray-darker-2:  darken($color-gray, 22%) !default;
$color-gray-darker-3:  darken($color-gray, 36%) !default;
$color-gray-darker-4:  darken($color-gray, 48%) !default;
$color-gray-darker-5:  darken($color-gray, 57%) !default;

// Blue
$color-blue:           #39c !default;
$color-blue-lighter-1: lighten($color-blue, 10%) !default;
$color-blue-lighter-2: lighten($color-blue, 20%) !default;
$color-blue-lighter-3: lighten($color-blue, 30%) !default;
$color-blue-lighter-4: lighten($color-blue, 40%) !default;
$color-blue-lighter-5: lighten($color-blue, 45%) !default;
$color-blue-darker-1:  darken($color-blue, 5%) !default;
$color-blue-darker-2:  darken($color-blue, 10%) !default;
$color-blue-darker-3:  darken($color-blue, 20%) !default;
$color-blue-darker-4:  darken($color-blue, 30%) !default;
$color-blue-darker-5:  darken($color-blue, 35%) !default;


/*
===============================================================================
Menu
===============================================================================
*/

$color-submenu:   #393c43;
$color-section:   darken($color-submenu, 5%);

$color-link:      #39c;
$color-link-over: darken($color-link, 15%);
$color-btn:       $color;
$color-btn-over:  lighten($color-btn, 8%);


/*
===============================================================================
Text
===============================================================================
*/

$color-text:        $color-gray-darker-3 !default;
$color-headings:    $color-gray-darker-4 !default;
$color-panel-title: lighten($color-submenu, 20%) !default;

$color-link:        $color-blue !default;
$color-link-focus:  $color-blue-darker-2 !default;


/*
===============================================================================
Borders
===============================================================================
*/

$color-border: $color-gray-lighter-2;
$color-border-input: $color-gray-lighter-1;


/*
===============================================================================
States
===============================================================================
*/

$color-info:            $color-blue-darker-1 !default;
$color-info-darker:     $color-blue-darker-3 !default;
$color-info-lighter:    $color-blue-lighter-4 !default;
$color-info-border:     darken($color-info-lighter, 10%) !default;

$color-success:         #20c372 !default;
$color-success-darker:  darken($color-success, 20%) !default;
$color-success-lighter: lighten($color-success, 40%) !default;
$color-success-border:  darken($color-success-lighter, 20%) !default;

$color-danger:          #d03a40 !default;
$color-danger-darker:   darken($color-danger, 15%) !default;
$color-danger-lighter:  lighten($color-danger, 37%) !default;
$color-danger-border:   darken($color-danger-lighter, 10%) !default;

$color-warning:         #ffc31a !default;
$color-warning-darker:  darken($color-warning, 35%) !default;
$color-warning-lighter: lighten($color-warning, 33%) !default;
$color-warning-border:  darken($color-warning-lighter, 15%) !default;
