<div class="row">
        <div class="col lg:col-1/2">
            <dl class="list-inline list-inline--md">
                <dt class="card-request__dt-title">
                    ENVIADA POR
                </dt>
                <dd class="card-request__dd">
                    <span class="card-request__dd-content dd-content-nobold">
                        {{ request.nombre }}
                        {{ request.apellido_paterno }}

                        {% if request.apellido_materno != None %}
                            {{ request.apellido_materno }}
                        {% endif %}
                    </span>
                    <br><span> {{ request.ures_desc }}</span>
                </dd>
            </dl>

            <dl class="list-inline list-inline--md">
                <dt class="card-request__dt-title">
                    MATRÍCULA
                </dt>
                <dd class="card-request__dd">
                    <span class="card-request__dd-content dd-content-nobold"> {{ request.matricula }}</span>
                </dd>
            </dl>
        </div>
        <div class="col lg:col-1/2">
            <dl class="list-inline list-inline--md">
                <dt class="card-request__dt-title">
                    CONTACTO
                </dt>
                <dd class="card-request__dd">
                    <span class="card-request__dd-content dd-content-nobold">
                        {{ request.correo }} <br>

                        {% if request.telefono != None %}
                            Tel: {{ request.telefono }}
                        {% endif %}

                        {% if request.extension != None %}
                            Ext: {{ request.extension }}
                        {% endif %}
                    </span>
                </dd>
            </dl>

            {% if request.pautoriza != None %}

                <dl class="list-inline list-inline--md">
                    <dt class="card-request__dt-title">
                        AUTORIZA
                    </dt>
                    <dd class="card-request__dd">
                        <span class="card-request__dd-content dd-content-nobold"> {{ request.pautoriza }} </span>
                    </dd>
                </dl>
            {% endif %}

        </div>
    </div>