<div class="row">
        <div class="lg:col-1/2">
            <dl class="list-inline list-inline--md">
                <dt class="card-request__dt-title">
                    ENVIADA POR
                </dt>
                <dd>
                    <span class="card-request__dd-user"> Ahmed Said René Ramos Pulido </span>
                    <br><span class="card-request__dd-ures">Escuelas incorporadas</span>
                </dd>
            </dl>

            <dl class="list-inline list-inline--md">
                <dt class="card-request__dt-title">
                    MATRÍCULA
                </dt>
                <dd>
                    <span class="card-request__dd-user">123456</span>
                </dd>
            </dl>
        </div>
        <div class="lg:col-1/2">
            <dl class="list-inline list-inline--md">
                <dt class="card-request__dt-title">
                    CONTACTO
                </dt>
                <dd>
                    <span class="card-request__dd-user">incorporadasamd@ujed.mx Tel: (618) 123 4567. Ext: 3031.</span>
                </dd>
            </dl>

            <dl class="list-inline list-inline--md">
                <dt class="card-request__dt-title">
                    AUTORIZA
                </dt>
                <dd>
                    <span class="card-request__dd-user">José Antonio Enríquez Nieto</span>
                </dd>
            </dl>
        </div>
    </div>