    <dl class="list-inline list-inline--md">
        <dt class="card-request__dt-title">
            FECHA DE RECEPCIÓN
        </dt>
        <dd>
            <span class="size-sm color-gray-70">
                {{ request.fecha_sol }}
            </span>
        </dd>

        {% if request.descripcion != None %}

            <dt class="card-request__dt-title">
                Descripción
            </dt>

            <dd class="card-request__dd-description">
                <blockquote class="blockquote-simple size-lg m-0">

                    <p>{{ request.descripcion }}</p>

                    <p></p>

                </blockquote>
            </dd>

        {% endif %}


        {% if request.count_archivos > 0 %}
            <dt class="mt-16">
                <span class="card-request__dt-title">
                    {% load svg %}
                    <span class="card-request__attach-icon">{% svg 'paperclip' %}</span>
                    {{ request.count_archivos }} ARCHIVOS ADJUNTOS
                </span>

                <a href="{% url 'download-zip' request.folio %}" class="card-request__download">
                        {% load svg %}
                        {% svg 'download' %}
                    Descargar todo
                </a>
            </dt>
        {% endif %}

        <div class="row">

            {% for value in request.archivos_solicitud %}

                {% if value.nombre_archivo != None %}
                    <a href="{{ value.file }}" target="_blank" class="card-request__file">

                        <div class="card-request__file-thumb d-inline-block align-bottom">
                            {% load static %}
                            <img src="{% static 'img/email/icon-mail-ticket.png' %}" class="card-request__file-thumb-pdf" alt="">
                        </div>

                        <p class="size-caption m-0 d-inline-block ml-2">
                            {{ value.nombre_archivo }}<br>
                            <small class="color-gray-60">{{ value.file|filesizeformat }}</small>
                        </p>

                        {% if value.descripcion != None %}

                            <p class="size-sm mt-4">
                                {{ value.descripcion }}
                            </p>

                        {% endif %}
                    </a>
                {% endif %}

            {% endfor %}
        </div>
    </dl>