<section class="section mb-16 d-block lg:hidden">
    <div class="row fluid-container">
        {% load svg %}

        <tabs-component class="tabs--responsive"
            :breakpoint="0"
            :tabs="{'details': 'DETALLES', 'contact': 'CONTACTO', 'process': 'PROCESOS'}"
            :options="{'details': 'DETALLES', 'contact': 'CONTACTO', 'process': 'PROCESOS'}"
            :accepts-html="true"
        >
            <template slot="panel-details">

                <p class="size-xl mb-8">
                    <b>Exámenes CENEVAL</b>
                    <span class="icon-pencil">
                        {% svg 'paperclip' %}
                    </span>
                </p>

                {% include "solicitudes/partials/details.html" %}
            </template>
            <template slot="panel-contact">
                {% include "solicitudes/partials/contact.html" %}
            </template>
            <template slot="panel-process">
                {% include "solicitudes/partials/process.html" %}
            </template>
        </tabs-component>
    </div>
</section>