/*
===============================================================================
Alerts
===============================================================================
*/

$alert-border-radius: $border-radius;
$alert-padding-x: 1em;
$alert-padding-y: 0.75em;

.alert {
    background-color: $color-gray-lighter-5;
    border-radius: $alert-border-radius;
    margin-bottom: $spacer;
    padding: $alert-padding-y $alert-padding-x;

    &--info {
        background-color: $color-info-lighter;
        color: $color-info-darker;
    }

    &--danger {
        background-color: $color-danger-lighter;
        color: $color-danger-darker;
    }

    &--success {
        background-color: $color-success-lighter;
        color: $color-success-darker;
    }

    &--warning {
        background-color: $color-warning-lighter;
        color: $color-warning-darker;
    }
}


/* Borders
============================================================================ */

.alert--bordered {
    border: 1px solid $color-border;

    &.alert--info    { border-color: $color-info-border; }
    &.alert--danger  { border-color: $color-danger-border; }
    &.alert--success { border-color: $color-success-border; }
    &.alert--warning { border-color: $color-warning-border; }
}


/* - - - - - Accent - - - - - */

.alert--left-accent {
    border-left: 4px solid $color-gray-darker-4;

    &.alert--info    { border-left-color: $color-info; }
    &.alert--danger  { border-left-color: $color-danger; }
    &.alert--success { border-left-color: $color-success; }
    &.alert--warning { border-left-color: $color-warning; }
}

.alert--top-accent {
    border-top: 4px solid $color-gray-darker-4;

    &.alert--info    { border-top-color: $color-info; }
    &.alert--danger  { border-top-color: $color-danger; }
    &.alert--success { border-top-color: $color-success; }
    &.alert--warning { border-top-color: $color-warning; }
}


/* Icons
============================================================================ */

.alert--has-icon {
    background-position: 1em center;
    background-repeat: no-repeat;
    padding-left: 50px;

    &.alert--info { background-image: url(icon-info()); }
    &.alert--success { background-image: url(icon-check()); }
    &.alert--warning { background-image: url(icon-warning()); }
    &.alert--danger { background-image: url(icon-warning(20, $color-danger)); }

    &.alert--strong.alert--info { background-image: url(icon-check(20, #fff)); }
    &.alert--strong.alert--success { background-image: url(icon-check(20, #fff)); }
    &.alert--strong.alert--warning { background-image: url(icon-warning(20, $color-warning-darker)); }
    &.alert--strong.alert--danger { background-image: url(icon-warning(20, #fff)); }
}


/* Strong
============================================================================ */

.alert--strong {
    background-color: $color-gray-darker-4;
    color: rgba(#fff, 0.95);

    &.alert--danger  { background-color: $color-danger; }
    &.alert--info    { background-color: $color-info; }
    &.alert--success { background-color: $color-success; }

    &.alert--warning {
        background-color: $color-warning;
        color: $color-warning-darker;
    }
}
