/*
===============================================================================
File field
===============================================================================
*/

.file {
    display: flex;
    position: relative;
}

.file__btn {
    margin-left: 5px;
    z-index: 3;
}

.file__text,
.file__upload {
    @extend .form-field;
}

.file__upload {
    cursor: pointer;
    opacity: 0;
    @include position(absolute, 0 null null 0);
    z-index: 2;
}
