/*
===============================================================================
Messages
===============================================================================
*/

$message-border-radius: $border-radius;
$message-padding-x: 1em;
$message-padding-y: 0.75em;

.message {
    background-color: $color-gray-lighter-5;
    border-radius: $message-border-radius;
    margin-bottom: $spacer;

    &--info {
        background-color: $color-info-lighter;
        color: $color-info-darker;
    }

    &--danger {
        background-color: $color-danger-lighter;
        color: $color-danger-darker;
    }

    &--success {
        background-color: $color-success-lighter;
        color: $color-success-darker;
    }

    &--warning {
        background-color: $color-warning-lighter;
        color: $color-warning-darker;
    }
}

.message__body,
.message__header {
    margin-bottom: 0;
    padding: $message-padding-y $message-padding-x;
}

.message__body {
    border-radius: 0 0 $message-border-radius $message-border-radius;
}

.message__header {
    background-color: $color-gray-darker-4;
    border-radius: $message-border-radius $message-border-radius 0 0;
    color: #fff;

    .message--danger > &  { background-color: $color-danger; }
    .message--info > &    { background-color: $color-info; }
    .message--success > & { background-color: $color-success; }

    .message--warning > & {
        background-color: $color-warning;
        color: $color-warning-darker;
    }
}


/* Bordered
============================================================================ */

.message__body--bordered {
    border-color: $color-border;
    border-style: solid;
    border-width: 0 1px 1px;

    .message--info > &    { border-color: $color-info-border; }
    .message--danger > &  { border-color: $color-danger-border; }
    .message--success > & { border-color: $color-success-border; }
    .message--warning > & { border-color: $color-warning-border; }
}
