/*
===============================================================================
Recent update
===============================================================================
*/

.recent-update {
    align-items: flex-start;
    border-bottom: 1px solid $color-border;
    padding-bottom: $spacer * 2;
    padding-top: $spacer * 2;

    &:last-child {
        border-bottom: 0;
    }

    @include media(540) {
        display: flex;
    }
}


/* Info
============================================================================ */

.recent-update__date {
    color: $color-gray;
    display: block;
    font-size: rem(12);
    font-style: italic;
}

.recent-update__info {
    width: 100%;

    @include media(540) {
        lost-column: 2/3;
    }
}


/* Preview
============================================================================ */

.recent-update__img {
    display: block;
    margin: auto auto 0.2em;
}

.recent-update__preview {
    border: 1px solid $color-border;
    border-radius: $border-radius;
    font-size: rem(13);
    margin: 0 auto;
    padding: $spacer * 0.5;
    text-align: center;
    width: 230px;

    @include media(540) {
        lost-column: 1/3 1;
        width: auto;
    }

    @include media(720) {
        lost-column: 1/4 1;
    }
}
