/*
===============================================================================
Tables
===============================================================================
*/

$trainers-table-bp: 780;

.table-trainers__headings {
    display: none;

    @include media($trainers-table-bp) {
        display: table-row;
    }
}

.table-trainers__row {
    display: block;
    padding: 1em 0.5em;

    @include media($trainers-table-bp) {
        display: table-row;
        padding: 0;
    }
}

.table-trainers__td {
    display: block;
    padding-bottom: 0.25em;
    padding-top: 0.25em;

    &::before {
        content: attr(data-heading);
        font-weight: bold;
        margin-right: 0.25em;
    }

    @include media($trainers-table-bp) {
        display: table-cell;
        padding-bottom: 0.75em;
        padding-top: 0.75em;

        &::before {
            display: none;
        }
    }
}


/* Filters
============================================================================ */

.table-trainers__filters {
    background-color: $color-gray-lighter-3;
    border-bottom: 0;
    display: block;
    margin-bottom: $spacer;
    padding: 0.5em;

    @include media($trainers-table-bp) {
        display: table-row;
        padding: 0;
    }
}

.table-trainer__filter {
    background: #fff url(icon-search(16)) no-repeat 0.5em 0.55em;
    padding-left: 2em;
}

.table-trainer__filter-cell {
    display: block;

    @include media($trainers-table-bp) {
        display: table-cell;
    }
}

.table-trainer__filter-label {
    @include media($trainers-table-bp) {
        @include visually-hidden;
    }
}

.table-trainers__select-filter {
    @include text-truncate;
    background-color: #fff;
    padding-right: 20px;
}
