<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Petición creada</title>
</head>
<body>
    <h1>Tu petición se ha registrado</h1>
    <p>¡Hola, {{ name }}! te informamos que tu solicitud ha sido creada con éxito y se ha asignado el siguiente folio:</p>
    <p>
        {{ folio }}
    </p>
    <p>
        Si fuera necesario, nos comunicaremos contigo vía telefónica o por correo electrónico para solicitar más información.
    </p>
    <p>
        Puedes revisar el estado y avance de solicitud en cualquier momento utilizando el siguiente botón :
    </p>

    <p><strong>ejemplo email</strong></p>
</body>
</html>