{% extends 'dashboard/master.html' %}
{% block content %}

    <div class="db-heading">

        <div class="breadcrums db-breadcrums">
            <a href="#" class="breadcrums__link">Dashboard</a>
       </div>

        <h1 class="db-heading__title">
            Bienvenido(a)
        </h1>

        <item-process>

        </item-process>
    </div>

    <process-modal>
        <template slot="check">
            {% load svg %}
            {% svg 'check' %}
        </template>
        <template slot="close">
            {% load svg %}
            {% svg 'x' %}
        </template>
        <template slot="plus">
            {% load svg %}
            {% svg 'plus' %}
        </template>
    </process-modal>

{% endblock %}