// =============================================================================
// Responsive classes
// =============================================================================

$menu-breakpoint: 760px;

// Define which responsive utility classes (like `.md:mt-0`) will be generated.
// Non-responsive utility classes (like `.mt-0`) will still be created
// regardless of these settings.

$responsive-utilities: (
    "bg-color":           false,
    "border":             false,
    "border-color":       false,
    "border-radius":      false,
    "display":            true,
    "flex":               true,
    "float":              false,
    "leading":            false,
    "margin":             true,
    "max-width":          true,
    "overflow":           false,
    "padding":            true,
    "position":           false,
    "shadow":             false,
    "svg":                false,
    "table-layout":       false,
    "text-alignment":     false,
    "text-color":         false,
    "text-ellipsis":      false,
    "text-size":          false,
    "vertical-alignment": false,
    "visibility":         false,
    "width":              true
) !default;


// =============================================================================
// Colors
// =============================================================================


// A map of colors available for utility classes.
// See `1-settings/_colors.scss` for more information on their values.

$utility-colors: (
    "transparent":    transparent,
    "primary":        $color-primary,
    "black":          #000,
    "white":          #fff,
    "ujed":           #B11830,
    "link":           $color-link,
    "gray-10":        $color-gray-10,
    "gray-20":        $color-gray-20,
    "gray-30":        $color-gray-30,
    "gray-40":        $color-gray-40,
    "gray-50":        $color-gray-50,
    "gray-60":        $color-gray-60,
    "gray-70":        $color-gray-70,
    "gray-80":        $color-gray-80,
    "gray-90":        $color-gray-90,
    "blue-10":        $color-blue-10,
    "blue-20":        $color-blue-20,
    "blue-30":        $color-blue-30,
    "blue-40":        $color-blue-40,
    "blue-50":        $color-blue-50,
    "blue-60":        $color-blue-60,
    "blue-70":        $color-blue-70,
    "blue-80":        $color-blue-80,
    "blue-90":        $color-blue-90,
    "info":           $color-info,
    "info-light":     $color-info-light,
    "info-text":      $color-info-text,
    "success":        $color-success,
    "success-light":  $color-success-light,
    "success-text":   $color-success-text,
    "danger":         $color-danger,
    "danger-light":   $color-danger-light,
    "danger-text":    $color-danger-text,
    "warning":        $color-warning,
    "warning-light":  $color-warning-light,
    "warning-text":   $color-warning-text
) !default;
