{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Dirección de Transformación Digital</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" type="text/css" />
</head>
<body class="dashboard">

    <div id="dashboard" v-cloak>
        {% include "dashboard/user-bar.html" %}

        <div class="flex">
            {% include "dashboard/header.html" %}

            <main id="main" class="main" :class="{ 'main--has-menu' : menuIsVisible }" role="main">

                {% block content %}


                {% endblock %}

            </main>
        </div>

        <site-overlay></site-overlay>
    </div>

    <!-- Scripts -->
    <script src="{% static 'js/vendor.js' %}"></script>
    <script src="{% static 'js/admin.js' %}"></script>
</body>
</html>
