// =============================================================================
// Brand
// =============================================================================
//
// The main colors of your application.
// Feel free to register as many as you need.


// Change this value to match your brand color.

$color-primary: #502a7a !default;


// =============================================================================
// Color palettes
// =============================================================================
//
// Gray and blue palettes are provided by default, but feel free
// to add as many colors or palettes as you need.


// Gray (with a tint of blue).
//
// The gray palette is used for control backgrounds and borders accross
// the framework, so be careful when changing these values as they may
// impact several classes.

$color-gray-10: #f9fafa !default;
$color-gray-20: #f0f2f3 !default;
$color-gray-30: #e7e9ec !default;
$color-gray-40: #d6dadd !default;
$color-gray-50: #adb5bd !default;
$color-gray-60: #8a96a1 !default;
$color-gray-70: #5f6b78 !default;
$color-gray-80: #3a4148 !default;
$color-gray-90: #202428 !default;


// Blue.
//
// The blue palette is used in links and controls across the framework,
// so be careful when changing these values as they may impact several
// classes. Creating a new palette instead is recommended.

$color-blue-10: #ebf5fa !default;
$color-blue-20: #d1e8f3 !default;
$color-blue-30: #9acde6 !default;
$color-blue-40: #67b3d9 !default;
$color-blue-50: #39c !default;
$color-blue-60: #2d86b3 !default;
$color-blue-70: #246b8e !default;
$color-blue-80: #154258 !default;
$color-blue-90: #0f2e3d !default;


// =============================================================================
// Borders
// =============================================================================


// A default global color for borders.
// This is used for tables, border utility classes and components.

$color-border: $color-gray-40 !default;


// Default color for input and textarea borders.

$color-border-input: $color-gray-40 !default;


// =============================================================================
// Text
// =============================================================================


// Color for the body text.

$color-text: $color-gray-80 !default;


// Color for your heading tags (h1, h2...).

$color-headings: $color-gray-90 !default;


// The default color for links.

$color-link: $color-blue-50 !default;


// Color for focused and active links.

$color-link-focus: $color-blue-70 !default;


// =============================================================================
// States
// =============================================================================
//
// State colors are used in support classes, form validation
// and in some components (like buttons and alerts).


$color-info:           $color-blue-60 !default;
$color-info-light:     $color-blue-20 !default;
$color-info-text:      $color-blue-80 !default;
$color-info-border:    $color-blue-30 !default;

$color-success:        #20c372 !default;
$color-success-light:  scale-color($color-success, $lightness: 70%) !default;
$color-success-text:   scale-color($color-success, $lightness: -45%) !default;
$color-success-border: scale-color($color-success, $lightness: 30%) !default;

$color-danger:         #d03a40 !default;
$color-danger-light:   scale-color($color-danger, $lightness: 75%) !default;
$color-danger-text:    scale-color($color-danger, $lightness: -25%) !default;
$color-danger-border:  scale-color($color-danger, $lightness: 55%) !default;

$color-warning:        #ffca34 !default;
$color-warning-light:  scale-color($color-warning, $lightness: 75%) !default;
$color-warning-text:   scale-color($color-warning, $lightness: -60%) !default;
$color-warning-border: scale-color($color-warning, $lightness: 35%) !default;
