/*
===============================================================================
Flex
===============================================================================
*/

@each $prefix, $min-width in breakpoints-by-prefix() {
    @include media($min-width) {

        // Align
        #{$prefix}content-start   { align-content: flex-start !important; }
        #{$prefix}content-end     { align-content: flex-end !important; }
        #{$prefix}content-center  { align-content: center !important; }
        #{$prefix}content-between { align-content: space-between !important; }
        #{$prefix}content-around  { align-content: space-around !important; }
        #{$prefix}content-stretch { align-content: stretch !important; }
        #{$prefix}items-start     { align-items: flex-start !important; }
        #{$prefix}items-end       { align-items: flex-end !important; }
        #{$prefix}items-center    { align-items: center !important; }
        #{$prefix}items-stretch   { align-items: stretch !important; }
        #{$prefix}self-auto       { align-self: auto !important; }
        #{$prefix}self-start      { align-self: flex-start !important; }
        #{$prefix}self-end        { align-self: flex-end !important; }
        #{$prefix}self-center     { align-self: center !important; }
        #{$prefix}self-baseline   { align-self: baseline !important; }
        #{$prefix}self-stretch    { align-self: stretch !important; }

        // Direction
        #{$prefix}flex-col         { flex-direction: column !important; }
        #{$prefix}flex-col-reverse { flex-direction: column-reverse !important; }
        #{$prefix}flex-row         { flex-direction: row !important; }
        #{$prefix}flex-row-reverse { flex-direction: row-reverse !important; }

        // Justify
        #{$prefix}justify-around  { justify-content: space-around !important; }
        #{$prefix}justify-between { justify-content: space-between !important; }
        #{$prefix}justify-center  { justify-content: center !important; }
        #{$prefix}justify-start   { justify-content: flex-start !important; }
        #{$prefix}justify-end     { justify-content: flex-end !important; }

        // Order
        #{$prefix}order-first { order: -1 !important; }
        #{$prefix}order-none  { order: 0 !important; }
        #{$prefix}order-last  { order: 1 !important; }

        // Wrap
        #{$prefix}flex-nowrap { flex-wrap: nowrap !important; }
        #{$prefix}flex-wrap   { flex-wrap: wrap !important; }

    }
}
