/*
===============================================================================
Overflow
===============================================================================
*/

@each $prefix, $min-width in breakpoints-by-prefix() {
    @include media($min-width) {

        #{$prefix}overflow-auto   { overflow: auto !important; }
        #{$prefix}overflow-hidden { overflow: hidden !important; }
        #{$prefix}overflow-x-auto { overflow-x: auto !important;}
        #{$prefix}overflow-y-auto { overflow-y: auto !important; }

    }
}
