/*
===============================================================================
Position
===============================================================================
*/

.centered {
    margin: 0 !important;
    @include position(absolute, 50% null null 50%);
    transform: translate(-50%, -50%);
}

.relative {
    position: relative;
}


/*
===============================================================================
Floats
===============================================================================
*/

.clearfix {
    @include clearfix;
}

@each $prefix, $min-width in breakpoints-by-prefix() {
    @include media($min-width) {

        #{$prefix}pull-left  { float: left !important;}
        #{$prefix}pull-none  { float: none !important;}
        #{$prefix}pull-right { float: right !important; }

    }
}
