/*
===============================================================================
Width
===============================================================================
*/

@each $prefix, $min-width in breakpoints-by-prefix() {
    @include media($min-width) {

        @each $fraction in $widths {
            #{$prefix}w-#{escape-fraction($fraction)} {
                width: fraction-to-percentage($fraction);
            }
        }

        #{$prefix}w-auto {
            width: auto !important;
        }

        #{$prefix}w-full {
            width: 100% !important;
        }

    }
}
