<header class="main-header">
    <div class="container">
        <div class="main-logo__dtd">
            {% load static %} 
            <img src="{% static 'img/header/logo-dtd.png' %}" alt="Dirección de transformación Digital">
        </div>
        <div class="main-logo__ujed float-right">
            <img src="{% static 'img/header/logo-ujed.png' %}" alt="Universidad Juárez del Estado de Durango">
        </div>

        <button type="button" class="main-header__btn">
            <span class="main-header__span"></span>
            <span class="main-header__span"></span>
            <span class="main-header__span"></span>
        </button>
    </div>
</header>