{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo renderizado con templates</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
</head>
<body>
    {% block content %}
    {% endblock %}

        <!-- Scripts -->
        <script src="{% static 'js/vendor.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
