{% extends 'dashboard/master.html' %}
{% load svg %}
{% block content %}
    <div class="db-heading">
        <div class="breadcrums db-breadcrums">
            <a href="/administracion" class="breadcrums__link">Dashboard</a>
            <span class="breadcrums__chevron">
                {% load svg %}
                {% svg 'chevron-right' %}
            </span>
            <a href="/administracion" class="breadcrums__link">Solicitudes</a>
            <span class="breadcrums__chevron">
                {% load svg %}
                {% svg 'chevron-right' %}
            </span>
            <a class="breadcrums__link breadcrums__link--active">Bandeja</a>
       </div>
        <h1 class="db-heading__title">
            Bandeja de solicitudes
        </h1>
    </div>
    <section class="section mb-16">
        <div class="fluid-container">
            <tabs-component class="tabs--sm"
                :breakpoint="1160"
                :tabs="{{ statuses }}"
                :options="{{ statuses }}"
                :accepts-html="true"
            >
                {% for key, requests in requestByStatus.items %}
                    <template slot="panel-{{ key }}">
                        <div class="row">
                            {% for element in requests %}
                                <a  class="card-request card-request__link" href="{% url 'dashboard:solicitud' element.folio %}">
                                    <div class="">
                                        <div class="card-request__header card-request__header--folio">
                                            <span>{{ element.folio }}</span>
                                            <div class="card-request__service-container">
                                                {% for subservicio in element.subservices %}
                                                    <span class="card-request__service card-request__service--{{ subservicio.servicio |slugify }}"></span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% if element.titulo != None %}
                                            <p class="card-request__title">
                                                {{ element.titulo }}
                                            </p>
                                        {% endif %}
                                        <p class="card-request__date">
                                            {{ element.formated_date }}.
                                        </p>
                                        <dl class="list-inline list-inline--md">
                                            <dt class="card-request__dt-title">
                                                Enviada por
                                            </dt>
                                            <dd>
                                                <span class="card-request__dd-user">{{ element.nombre }} {{ element.apellido_paterno}}
                                                {% if element.apellido_materno != None %}
                                                    {{ element.apellido_materno }}
                                                {% endif %}
                                                </span>
                                                <br><span class="card-request__dd-ures">{{ element.ures_desc }}</span>
                                            </dd>

                                            <dt class="card-request__dt-title">
                                                Descripción
                                            </dt>
                                            <dd class="card-request__dd-description">
                                                {{ element.descripcion }}
                                            </dd>
                                            {% if element.count_archivos != 0 %}
                                                <div class="card-request__attach">
                                                    <span class="card-request__attach-icon">{% svg 'paperclip' %}</span>
                                                    <span class="card-request__attach-number">
                                                        {{ element.count_archivos }}
                                                    </span>
                                                </div>
                                            {% endif %}
                                        </dl>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </template>
                {% endfor %}
            </tabs-component>
        </div>
    </section>


{% endblock %}
