{% extends 'dashboard/master.html' %}

{% block content %}

    <div class="db-heading">

        <div class="breadcrums db-breadcrums">
            <a href="/administracion" class="breadcrums__link">Dashboard</a>
            <span class="breadcrums__chevron">
                {% load svg %}
                {% svg 'chevron-right' %}
            </span>
            <a href="/administracion/solicitudes/bandeja" class="breadcrums__link">Solicitudes</a>
            <span class="breadcrums__chevron">
                {% load svg %}
                {% svg 'chevron-right' %}
            </span>
            <a class="breadcrums__link breadcrums__link--active"> En proceso</a>
       </div>

        <h1 class="db-heading__title">
            Solicitudes en proceso
        </h1>
    </div>

    <div class="fluid-container mt-12 overflow-x-auto">

        <div class="d-inline-flex">
            <p class="requests-process__head requests-process__head--services">
                SOLICITUDES
            </p>
            <p class="requests-process__head requests-process__col">
                TO DO
            </p>
            <p class="requests-process__head requests-process__col">
                INICIADO
            </p>
            <p class="requests-process__head requests-process__col">
                EN ESPERA
            </p>
            <p class="requests-process__head requests-process__col">
                CONCLUIDO
            </p>
        </div>

        <div class="requests-process__row">

            <div class="requests-process__body requests-process__body--services">

                <div class="card-request w-full mb-0">
                    <p class=card-request__folio>
                        <a  class="card-request__link" href="{% url 'solicitud' 'NUP7FJ' %}">#278</a>
                    </p>
                    <p class="card-request__date">
                        16 Ene 2020
                    </p>
                    <dl class="list-inline list-inline--md">
                        <dt class="card-request__dt-title">
                            Enviada por
                        </dt>
                        <dd>
                            <span class="card-request__dd-user">Ahmed Said René Ramos Pulido</span>
                            <br><span class="card-request__dd-ures">Escuelas incorporadas</span>
                        </dd>

                        <div class="card-request__attach">
                            <span class="card-request__attach-icon">{% svg 'paperclip' %}</span>
                            <span class="card-request__attach-number">2</span>
                        </div>
                    </dl>
                </div>

            </div>

            <div class="requests-process__body requests-process__col">

                <div class="db-process-card mr-0 db-process-card--desarrollo-de-software">
                    <p class="db-process-card__title">Desarrollo de sitios web</p>
                    <p class="db-process-card__date mb-1"> 10 Ene 2020 9:15 a.m.</p>

                    <div class="db-process-card__users mt-0">
                        <div class="user-bar__avatar-container">
                            <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                        </div>

                        <div class="user-bar__avatar-container">
                            <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                        </div>
                    </div>
                </div>

                <div class="db-process-card mr-0 db-process-card--desarrollo-de-software">
                    <p class="db-process-card__title">Desarrollo de sitios web</p>
                    <p class="db-process-card__date mb-1"> 10 Ene 2020 9:15 a.m.</p>

                    <div class="db-process-card__users mt-0">
                        <div class="user-bar__avatar-container">
                            <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                        </div>

                        <div class="user-bar__avatar-container">
                            <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                        </div>
                    </div>
                </div>

                <div class="db-process-card mr-0 db-process-card--desarrollo-de-software">
                    <p class="db-process-card__title">Desarrollo de sitios web</p>
                    <p class="db-process-card__date mb-1"> 10 Ene 2020 9:15 a.m.</p>

                    <div class="db-process-card__users mt-0">
                        <div class="user-bar__avatar-container">
                            <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                        </div>

                        <div class="user-bar__avatar-container">
                            <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                        </div>
                    </div>
                </div>

            </div>

            <div class="requests-process__body requests-process__col">
            </div>

            <div class="requests-process__body requests-process__col">

                <div class="db-process-card mr-0 db-process-card--desarrollo-de-software">
                    <p class="db-process-card__title">Desarrollo de sitios web</p>
                    <p class="db-process-card__date mb-1"> 10 Ene 2020 9:15 a.m.</p>

                    <div class="db-process-card__users mt-0">
                        <div class="user-bar__avatar-container">
                            <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                        </div>

                        <div class="user-bar__avatar-container">
                            <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                        </div>
                    </div>
                </div>
            </div>

            <div class="requests-process__body requests-process__col">
            </div>
        </div>

        <div class="requests-process__row">

            <div class="requests-process__body requests-process__body--services">

                <div class="card-request w-full mb-0">
                    <p class=card-request__folio>
                        <a  class="card-request__link" href="{% url 'solicitud' 'NUP7FJ' %}">#278</a>
                    </p>
                    <p class="card-request__date">
                        16 Ene 2020
                    </p>
                    <dl class="list-inline list-inline--md">
                        <dt class="card-request__dt-title">
                            Enviada por
                        </dt>
                        <dd>
                            <span class="card-request__dd-user">Ahmed Said René Ramos Pulido</span>
                            <br><span class="card-request__dd-ures">Escuelas incorporadas</span>
                        </dd>

                        <div class="card-request__attach">
                            <span class="card-request__attach-icon">{% svg 'paperclip' %}</span>
                            <span class="card-request__attach-number">2</span>
                        </div>
                    </dl>
                </div>

            </div>

            <div class="requests-process__body requests-process__col">
            </div>

            <div class="requests-process__body requests-process__col">

                <div class="db-process-card mr-0 db-process-card--desarrollo-de-software">
                    <p class="db-process-card__title">Desarrollo de sitios web</p>
                    <p class="db-process-card__date mb-1"> 10 Ene 2020 9:15 a.m.</p>

                    <div class="db-process-card__users mt-0">
                        <div class="user-bar__avatar-container">
                            <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                        </div>

                        <div class="user-bar__avatar-container">
                            <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                        </div>
                    </div>
                </div>
            </div>

            <div class="requests-process__body requests-process__col">
            </div>

            <div class="requests-process__body requests-process__col">

                <div class="db-process-card mr-0 db-process-card--desarrollo-de-software">
                    <p class="db-process-card__title">Desarrollo de sitios web</p>
                    <p class="db-process-card__date mb-1"> 10 Ene 2020 9:15 a.m.</p>

                    <div class="db-process-card__users mt-0">
                        <div class="user-bar__avatar-container">
                            <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                        </div>

                        <div class="user-bar__avatar-container">
                            <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                        </div>
                    </div>
                </div>
                <div class="db-process-card mr-0 db-process-card--desarrollo-de-software">
                    <p class="db-process-card__title">Desarrollo de sitios web</p>
                    <p class="db-process-card__date mb-1"> 10 Ene 2020 9:15 a.m.</p>

                    <div class="db-process-card__users mt-0">
                        <div class="user-bar__avatar-container">
                            <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                        </div>

                        <div class="user-bar__avatar-container">
                            <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}