{% extends 'dashboard/master.html' %}

{% block content %}

    <div class="db-heading">

        <div class="breadcrums db-breadcrums">
            <a href="/administracion" class="breadcrums__link">Dashboard</a>
            <span class="breadcrums__chevron">
                {% load svg %}
                {% svg 'chevron-right' %}
            </span>
            <a href="/administracion/solicitudes/bandeja" class="breadcrums__link">Solicitudes</a>
            <span class="breadcrums__chevron">
                {% load svg %}
                {% svg 'chevron-right' %}
            </span>
            <a class="breadcrums__link breadcrums__link--active"> {{ request.id }} </a>
       </div>

        <h1 class="db-heading__title">
            Solicitud #{{ request.id }}
        </h1>
    </div>

    {% include "solicitudes/partials/show-desktop.html" %}
    {% include "solicitudes/partials/show-movil.html" %}

    <service-modal>
        <template slot="close">
            {% load svg %}
            {% svg 'x' %}
        </template>
    </service-modal>
{% endblock %}