{% extends 'dashboard/master.html' %}
{% block content %}

    <div class="db-heading">

        <div class="breadcrums db-breadcrums">
            <a href="#" class="breadcrums__link">Dashboard</a>
            <span class="breadcrums__chevron">
                {% load svg %}
                {% svg 'chevron-right' %}
            </span>
            <a href="#" class="breadcrums__link">Solicitudes</a>
            <span class="breadcrums__chevron">
                {% load svg %}
                {% svg 'chevron-right' %}
            </span>
            <a class="breadcrums__link breadcrums__link--active">278</a>
       </div>

        <h1 class="db-heading__title">
            Solicitud #278
        </h1>
    </div>

    <section class="section mb-16">
        <div class="row fluid-container">
            <div class="lg:col-7/12">
                <div class="db-panel">
                    <p class=db-panel__folio>
                        CONTENIDO
                    </p>

                    <div class="form-control">
                        <label for="name">
                            <span class="color-gray-90 size-lg">Título</span>
                             <small class="color-gray-60">Opcional</small></label>
                        <input class="form-field" id="name" name="name" type="text">
                    </div>

                    <dl class="list-inline list-inline--md">
                        <dt class="db-panel__dt-title">
                            FECHA DE RECEPCIÓN
                        </dt>
                        <dd>
                            <span class="db-panel__dd-ures">16 de enero 2020, 14:43 p.m.</span>
                        </dd>

                        <dt class="db-panel__dt-title">
                            Descripción
                        </dt>
                        <dd class="db-panel__dd-description">
                            <blockquote class="blockquote-simple  m-0">
                                <p>
                                    Buenas tardes, envio la informacion del los exámenes de ceneval, lo que es EGEL, EGAL, EXANI III. para ver si por favor
                                    se puede actualizar la información que está publicada.
                                </p>

                                <p>
                                    Muchas gracias por tus atenciones. saludos
                                </p>

                                <p>
                                    M.E. Ahmed Sahid Rene Ramos Pulido<br>
                                    Coordinador de Escuelas Incorporadas a la Universidad Juárez del Estado de Durango<br>
                                    Tel: 618-827-12-56 Ext 3929
                                </p>
                            </blockquote>
                        </dd>

                        <dt class="db-panel__dt-title">
                            <span class="db-panel__attach-icon">{% svg 'paperclip' %}</span>
                            2 ARCHIVOS ADJUNTOS
                        </dt>
                        <dd>
                        </dd>

                    </dl>
                </div>

            </div>
            <div class="lg:col-5/12">

                <div class="db-panel">
                    <p class=db-panel__folio>
                        CONTACTO
                    </p>

                    <div class="row">
                        <div class="lg:col-1/2">
                            <dl class="list-inline list-inline--md">
                                <dt class="db-panel__dt-title">
                                    ENVIADA POR
                                </dt>
                                <dd>
                                    <span class="db-panel__dd-user">Ahmed Said René Ramos Pulido</span>
                                    <br><span class="db-panel__dd-ures">Escuelas incorporadas</span>
                                </dd>
                            </dl>

                            <dl class="list-inline list-inline--md">
                                <dt class="db-panel__dt-title">
                                    MATRÍCULA
                                </dt>
                                <dd>
                                    <span class="db-panel__dd-user">123456</span>
                                </dd>
                            </dl>
                        </div>
                        <div class="lg:col-1/2">
                            <dl class="list-inline list-inline--md">
                                <dt class="db-panel__dt-title">
                                    CONTACTO
                                </dt>
                                <dd>
                                    <span class="db-panel__dd-user">incorporadasamd@ujed.mx Tel: (618) 123 4567. Ext: 3031.</span>
                                </dd>
                            </dl>

                            <dl class="list-inline list-inline--md">
                                <dt class="db-panel__dt-title">
                                    AUTORIZA
                                </dt>
                                <dd>
                                    <span class="db-panel__dd-user">José Antonio Enríquez Nieto</span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="db-panel">
                    <p class=db-panel__folio>
                        PROCESOS
                    </p>

                    <div class="row">
                        <div class="lg:col-1/2">

                            <div class="db-process-card db-process-card--red">
                                <p class="db-process-card__title">Desarrollo de sitios web</p>
                                <p class="db-process-card__date">8 Jun 2019 10:40 a.m.</p>

                                <span class="badge badge--blue">To Do</span>

                                <div class="db-process-card__users">
                                    <div class="user-bar__avatar-container user-bar__avatar-container--spacing">
                                        <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                                    </div>

                                    <div class="user-bar__avatar-container user-bar__avatar-container--spacing">
                                        <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                                    </div>

                                    <div class="user-bar__avatar-container user-bar__avatar-container--spacing">
                                        <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                                    </div>

                                    <div class="user-bar__avatar-container user-bar__avatar-container--spacing">
                                        <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                                    </div>
                                </div>
                            </div>

                            <div class="db-process-card db-process-card--red">
                                <p class="db-process-card__title">Creación de base de datos</p>
                                <p class="db-process-card__date">8 Jun 2019 10:50 a.m.</p>

                                <span class="badge badge--blue">En espera de información</span>

                                <div class="db-process-card__users">

                                    <div class="user-bar__avatar-container user-bar__avatar-container--spacing">
                                        <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                                    </div>

                                    <div class="user-bar__avatar-container user-bar__avatar-container--spacing">
                                        <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="lg:col-1/2">
                            <div class="db-process-card db-process-card--yellow">
                                <p class="db-process-card__title">Registro de dominio</p>
                                <p class="db-process-card__date">8 Jun 2019 10:42 a.m.</p>

                                <span class="badge badge--blue">Iniciado</span>

                                <div class="db-process-card__users">

                                    <div class="user-bar__avatar-container user-bar__avatar-container--spacing">
                                        <img class="user-bar__avatar" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" alt="" class="user-bar__avatar">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center mt-6">
                        <button class="btn btn--light w-full">
                            Crear proceso
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}