{% extends 'dashboard/master.html' %}

{% block content %}

    <div class="db-heading">

        <div class="breadcrums db-breadcrums">
            <a href="/administracion" class="breadcrums__link">Dashboard</a>
            <span class="breadcrums__chevron">
                {% load svg %}
                {% svg 'chevron-right' %}
            </span>
            <a href="/administracion/solicitudes/bandeja" class="breadcrums__link">Tickets</a>
            <span class="breadcrums__chevron">
                {% load svg %}
                {% svg 'chevron-right' %}
            </span>
            <a class="breadcrums__link breadcrums__link--active"> {{ request.folio }} </a>
       </div>

        <h1 class="db-heading__title">
            Ticket #{{ request.folio }}
        </h1>
    </div>

    {% include "solicitudes/partials/show-desktop.html" %}
    {% include "solicitudes/partials/show-movil.html" %}

    <service-modal
        action="{% url 'dashboard:proceso-servicio' request.folio %}"
        :services="{{ services }}"
    >
        <template slot="close">
            {% load svg %}
            {% svg 'x' %}
        </template>
    </service-modal>

    <process-modal
        :statuses="{{ statuses }}"
        :team="{{ team }}"
    >
        <template slot="check">
            {% load svg %}
            {% svg 'check' %}
        </template>
        <template slot="close">
            {% load svg %}
            {% svg 'x' %}
        </template>
        <template slot="plus">
            {% load svg %}
            {% svg 'plus' %}
        </template>
        <template slot="save">
            {% load svg %}
            {% svg 'save' %}
        </template>
        <template slot="rotate-ccw">
            {% load svg %}
            {% svg 'rotate-ccw' %}
        </template>
    </process-modal>

{% endblock %}