/*
================================================================================
Card request
================================================================================
*/

.card-request {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #5F6B78;
    font-size: rem(14);
    margin-bottom: $gutter;
    overflow: auto;
    padding: $gutter/2;

    @include media(1200) {
        @include column(1/4);
    }

    @include media(721, 1199) {
        @include column(1/3);
    }

    @include media(600, 720) {
        @include column(1/2);
    }
}

.card-request__title {
    border-bottom: 1px solid #E7E9EC;
    color: #686D7A;
    font-weight: bold;
    font-size: rem(12);
    line-height: 1.2;
    margin: -1em 0 ($spacer * 1.5) #{-$gutter};
    padding: 1em $gutter 1em;
    text-align: left;
    text-transform: uppercase;

    &--folio {
        color: $color-db-panel-title;
        font-weight: normal;
    }
}

.card-request__link {
    color: $color-db-panel-title;
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
        color: #7b7f82;
        text-decoration: none;
    }
}

.card-request__download {
    color: $color-blue-50;
    cursor: pointer;
    float: right;
    font-size: 13px;
    font-weight: 400;

    & svg {
        color: $color-gray-80;
        height: 12px;
        width: 12px;
        vertical-align: middle;
    }

    &:focus,
    &:hover,
    &:active {
        text-decoration: underline;
    }
}

.card-request__file {
    @include column;
    border-radius: 3px;
    background: $color-blue-10;
    color: $color-gray-80;
    cursor: pointer;
    border: 1px solid $color-blue-20;
    height: 100%;
    padding: 10px;
    margin-top: 20px;

    &-description {
        font-size: 13px;
    }

    &:hover {
        border: 1px solid $color-blue-30;
        color: $color-gray-80;
        text-decoration: none;
    }

    @include media(md) {
        @include column(1/2);
    }
}

.card-request__file-thumb {
    border-radius: 3px;
    border: 1px solid $color-gray-40;
    height: 40px;
    width: 40px;

    &-img {
        background-color: #fff;
    }

    &-pdf {
        background-color: $color-gray-70;
    }
}

.card-request__date {
    color: $color-db-panel-title;
    font-size: rem(12);
    margin-bottom:35px;
}

.card-request__dd{
    color: $color-gray-70;
    font-size: rem(14);
    line-height: 1.2;
}

.card-request__dd-content {
    color: $color-gray-90;
    font-weight: bold;
    font-size: rem(16);
}

.card-request__dd-user {
    color: #202428;
    font-size: rem(16);
    font-weight: bold;
}

.card-request__dd-ures {
    font-size: rem(14);
}

.card-request__dt-title {
    color:$color-green;
    font-size: rem(11);
    margin-top: 20px;
    text-transform: uppercase;
}

.card-request__dd-description {
    font-size: rem(13);
}

.card-request__attach {
    margin-top: 30px;
}

.card-request__attach-icon {
    color: $color-dashboard-green;
    display: inline-block;
    font-size: rem(12);
    vertical-align: text-bottom;
    width: 12px;
}

.card-request__attach-number {
    color: #8A96A1;
    display: inline-block;
    font-size: rem(12);
    vertical-align: bottom;
}

.icon-plus-circle {
    color: $color-dashboard-green;
    margin-right: 3px;

    & svg {
        height: 18px;
        width: 18px;
    }
}