.db-process-card {
    background-color: $color-gray-10;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 15px;
    margin-right: 15px;
    min-width: 100%;

    @include media(sm) {
        min-width: 275px;
    }

    &:hover {
        background-color: #fff;
        border-bottom: 1px solid $color-gray-30;
        border-left: 1px solid $color-gray-30;
        border-right: 1px solid $color-gray-30;
        cursor: pointer;
    }
}

.db-process-card--desarrollo-de-software {
    border-top: 4px solid #2D86B3;
}

.db-process-card--infraestructura {
    border-top: 4px solid #DE1818;
}

.db-process-card--cuentas-de-acceso {
    border-top: 4px solid #FFCA34;
}

.db-process-card--instalaciones-de-software {
    border-top: 4px solid #20C372;
}

.db-process-card__title {
    color: $color-gray-90;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}

.db-process-card__date {
    color: $color-gray-60;
    font-size: 12px;
    margin-bottom: 2em;
}

.db-process-card__users {
    margin-top: 2em;
    text-align: right;

    & .user-bar__avatar-container {
        margin-left: 5px;
    }
}

.db-process-card__footer {
    display: flex;
}