/*
================================================================================
Footer
================================================================================
*/

footer {
    display: block; 
    position: relative;   
}

.main-footer__menu{
    padding: 35px 5%;
    width: 100%;
}

.main-footer__link-ujed {
    margin: 30px 0;
    width: 153px;
}

.main-footer__logo { //movil
    float: initial;
    width: 153px;

    @include media(800) { //800
        float: right;
    }

    @include media(960) { // 800 a 959 w desktop
        float: left;
    }
}

.main-footer__menu--list {
    align-items: center;
    color: #fff;
    float: right;
    justify-content: space-between;
    width: 100%;
    vertical-align: middle;
    height: 100%;
} 

.main-footer__info {
    font-size: 14px;
    padding-bottom: 90px;
    margin-top: 35px;

    & div {
        margin-bottom: 40px;
    }

    @include media(960) {

        & div {
            margin-bottom: 0px;
        }
    }
}