
.media {
    display: flex;
    margin-bottom: 30px;

    & .user-bar__avatar-container {
        height: 40px;
        min-width: 40px;
        width: 40px;
    }
}

.media__body {
    width: 100%;
}


.media__figure {
    margin-right: 20px;
}
