/*
================================================================================
Modal
================================================================================
*/

.modal {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 11;
}

.modal__card {
    background-color: #fff;
    border-radius: 4px;
    display: block;
    height: auto;
    margin: auto;
    max-height: none;
    max-width: 600px;
    width: 90vw;
}

.modal__close-btn {
    background-color: transparent;
    border-color: transparent;
    color: $color-gray-70;
    float: right;

    & svg {
        height: 20px;
    }
}

.modal__success-btn {
    @include button((background-color: $color-dashboard-green));
    color: #FFFFFF;

    &:hover {
        color: #FFFFFF;
    }
}