/*
================================================================================
Main menu
================================================================================
*/

$main-menu-breakpoint: 760;
$main-menu-link-padding-x: 0.5em;
$main-menu-link-padding-y: 1.5em;

.main-menu {
    background: transparent linear-gradient(90deg, #BD4A84 0%, #E54469 25%, #BA0000 90%) 0% 0% no-repeat padding-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: rem(15);
    position: relative;
}

.main-menu__container {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-between;
    opacity: 1;
}

.main-menu__container .main-logo__dtd {
    opacity: 1;


}
.main-logo__dtd--flex {
    align-items: center;
    display: flex;
}

.main-logo__dtd--flex .main-logo__icon {
    height: 65px;
    margin-right: 10px;
    @include media(300px, 759px) {
        height: 42px;
        margin-right: 10px;
    }
}

.main-logo__dtd--flex .main-logo__text {
    height: 50px;
    @include media(300px, 759px) {
        height: 35px;
    }
}

.main-menu__container--sm {
    opacity: 0;
    display: block;
    z-index: 1;

    @include media($menu-breakpoint) {
        display: none;
    }

    @media screen and (orientation: portrait) {
        opacity: 0;
    }

    @media screen and (orientation: landscape) {
        opacity: 1;
    }
}

.main-menu__logo-img {
    color: $color-text;
    width: 100px;
}

.main-logo__dtd {
    margin-top: 20px;
    margin-bottom: 20px;
    transform-origin: left top;
    width: 100px;
    z-index: 2;

    @media screen and (orientation: portrait) {
        &--open {
            animation: biggest-in-portrait 150ms ease-out forwards 150ms;
        }

        &--closed {
            animation-name: biggest-out-portrait 150ms ease-out forwards;
        }
    }

    @media screen and (orientation: landscape) {
        &--open {
            animation: biggest-in-landscape 150ms ease-out forwards 100ms;
        }

        &--closed {
            animation: biggest-out-landscape 200ms ease-out forwards;
        }
    }

    @include media($menu-breakpoint) {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 188px;
    }
}


.main-logo__ujed {
    display: none;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 165px;

    @include media($menu-breakpoint) {
        display: inline-block;
    }
}



/* Close button
============================================================================= */

.main-menu__close {
    background-color: $color-gray-50;
    margin-bottom: 0;
    text-align: right;

    @include media($main-menu-breakpoint) {
        display: none;
    }
}

.main-menu__close-btn {
    background-color: transparent;
    border: 0;
    color: #fff;
    display: inline-block;
    font-size: rem(13);
    opacity: 0.7;
    padding: 0.5em 1em 0.3em;
    transition: opacity 150ms ease-out;

    &:focus,
    &:hover,
    &:active {
        opacity: 1;
    }
}

.main-menu__close-icon {
    height: 1.4em;
    @include position(-1px null null null);
    width: 1.4em;
}


/* Menu button
============================================================================= */

.main-menu__btn {
    background-color: transparent;
    border: 0;
    display: inline-block;
    padding: 0.5em;
    z-index: 4;

    &:focus {
        outline: 1px dotted $color-gray-10;
    }

    @include media($main-menu-breakpoint) {
        display: none;
    }
}

.main-menu__btn-icon {
    @include hamburger;
}


/* List
============================================================================= */

.main-menu__list--container {
    height: auto;
    display: flex;
    flex-direction: column;
    left: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 100%;

    @include media($main-menu-breakpoint) {
        height: auto;
        display: block;
        top: auto;
    }

    &--open {
        height: 100vh;
    }
}

.main-menu__list {
    display: none;
    margin-left: auto;
    margin-bottom: 0px;
    min-width: 250px;
    position: relative;
    @include position(relative, 0 null null 0);
    top: 0;
    width: 100%;
    z-index: 3;

    @media screen and (orientation: portrait) {
        &--open {
            display: block;
            height: 100%;
            margin-top: 115px;
        }
    }

    @include media($main-menu-breakpoint) {
        background: $color-gray-90;
        box-shadow: none;
        display: block;
        height: auto;
        overflow-y: visible;
        padding-top: 0px;
        position: relative;
        text-align: center;
        transform: none;
        top: 0px;
        visibility: visible;
        width: auto;
        z-index: 1;
    }

    @media screen and (orientation: landscape) {
        &--open {
            display: block;
            height: 100%;
            margin-top: 115px;
        }
    }
}

.main-menu__li {
    opacity: 0;
    margin: 20px 0;

    &:last-child {
        border-bottom: 0;
    }

    @media screen and (orientation: portrait) {
        margin: 20px 0;
    }

    @media screen and (orientation: landscape) {
        margin: 0;
    }

    @include media($main-menu-breakpoint) {
        border-bottom: 0;
        display: inline-block;
        margin: 0 50px 0 2em;
        opacity: 1;
        position: relative;


        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            background-color: transparent;
            margin-left: 0.5em;
            margin-right: 0;
        }
    }



    @for $i from 1 through 7 {
        &--open:nth-child(#{$i}) {
            animation: height-in 300ms ease-out forwards (15ms + (50ms * ($i / 0.5)));

        }
    }

    &--logo {
        background-color: #fff;
        padding: 10px 0;
        text-align: center;

        @include media($main-menu-breakpoint) {
            display: none;
        }
    }
}

.main-menu__li.show {
    opacity: 1;
}

.main-menu__footer {
    bottom: 0;
    color: #fff;
    font-size: 10px;
    left: 0;
    margin-bottom: 30px !important;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 1;

    &--open {
        animation: opacity-in 250ms ease-out forwards 200ms;
    }
}

.main-menu__link,
.main-menu__submenu-title {
    background-color: transparent;
    color: #fff;
    font-size: 16px !important;
    padding: ($main-menu-link-padding-y * 0.6) ($main-menu-link-padding-x * 2);
    padding-left: 30px;
    transition: background-color 150ms ease-out, padding-left 150ms ease-out;

    &:focus,
    &:hover,
    &:active {
        background-color: #be386c;
        color: #fff;
        padding-left: 40px;
    }

    @include media($main-menu-breakpoint) {
        background-color: transparent;
        transition: none;
        margin: 0;
        padding: ($main-menu-link-padding-y * 0.6) ($main-menu-link-padding-x * 2);

        &:focus,
        &:hover,
        &:active {
            background-color: transparent;
            color: #fff;
            padding: ($main-menu-link-padding-y * 0.6) ($main-menu-link-padding-x * 2);
        }
    }
}

.main-menu__link {
    display: block;
    position: relative;

    &:focus,
    &:hover,
    &:active {
        text-decoration: none;
    }

    @include media($main-menu-breakpoint) {
        border-bottom: 2px solid transparent;
        transition: border-color 50ms ease-out;

        &:focus,
        &:hover,
        &:active {
            border-color: $color-primary;
        }
    }
}

.main-menu__login-btn {
    @include button((
        background-color: $color-gray-30,
        text-color: #fff
    ));
    display: block;
    text-align: center;

    @include media($main-menu-breakpoint) {
        @include button((background-color: $color-gray-30));
    }
}

.main-menu__login-icon {
    background: url("../img/icons/lock.svg") no-repeat left center;
    background-size: 19px;
    color: #fff;
    display: inline-block;
    filter: invert(1);
    height: 19px;
    margin-right: 0.25em;
    @include position(relative, -2px null null null);
    vertical-align: middle;
    width: 19px;

}

.main-menu__submenu-title {
    margin-bottom: 0;
    padding-left: $main-menu-link-padding-x * 2 - 0.3em;

    &::before {
        background: url("../img/icons/chevron-down.svg") no-repeat center center;
        background-size: 1em;
        color: $color-text;
        content: "";
        display: inline-block;
        height: 1em;
        margin: -0.2em 0.2em 0 0;
        opacity: 0.8;
        transition: transform 150ms ease-out;
        vertical-align: middle;
        width: 1em;
    }

    &--active::before {
        transform: rotate(-180deg);
    }

    @include media($main-menu-breakpoint) {
        &::before {
            transform: rotate(0);
        }
    }
}


/* List logo
============================================================================= */

.main-menu__list-logo-img {
    display: inline-block;
    position: relative;
    width: 120px;
}


/* Submenu
============================================================================= */

.main-menu__submenu {
    display: none;
    text-align: left;

    @include media($main-menu-breakpoint) {
        border: 1px solid $color-border;
        border-top: 2px solid $color-primary;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 300px;
        min-width: 200px;
        @include position(absolute, 100% null null 0);

        .main-menu__submenu-title[aria-expanded="true"] + &,
        .main-menu__li:active > &,
        .main-menu__li:hover > & {
            display: block;
        }
    }
}

.main-menu__submenu-item {
    border-bottom: 1px solid $color-gray-20;

    &:last-child {
        border-bottom: 0;
    }
}

.main-menu__submenu-link {
    background-color: #fff;
    color: $color-text;
    display: block;
    padding: ($main-menu-link-padding-y * 0.6) ($main-menu-link-padding-x * 2) ($main-menu-link-padding-y * 0.6) ($main-menu-link-padding-x * 2.4);
    transition: color 150ms ease-out, padding-left 150ms ease-out;

    &:focus,
    &:hover,
    &:active {
        background-color: $color-gray-50;
        color: $color-primary;
        padding-left: $main-menu-link-padding-x * 3;
        text-decoration: none;
    }

    @include media($main-menu-breakpoint) {
        background-color:$color-gray-50;
        padding: ($main-menu-link-padding-y * 0.6) ($main-menu-link-padding-x * 2);

        &:focus,
        &:hover,
        &:active {
            background-color: #fff;
            padding-left: $main-menu-link-padding-x * 2;
        }
    }
}

.main-menu__background {
    background: linear-gradient(0deg, #a24e97 0%, #ba203a 50%);
    border-radius: 50%;
    display: block;
    height: 40px;
    opacity: 0;
    position: absolute;
    right: 48px;
    top: 36px;
    transform: translate(50%, -50%);
    transform-origin: center center;
    width: 40px;
    z-index: 1;

    @media screen and (orientation: landscape) {
        &--open {
            animation: bubble-in-landscape 250ms ease-in forwards;
        }

        &--closed {
            animation: bubble-out-landscape 250ms ease-out forwards;
        }
    }

    @media screen and (orientation: portrait) {
        &--open {
            animation: bubble-in-portrait 250ms ease-in forwards;
        }

        &--closed {
            animation: bubble-out-portrait 250ms ease-out forwards;
        }
    }

    @include media($main-menu-breakpoint) {
        display: none;
    }
}