/*
================================================================================
Radio
================================================================================

The custom radio component allows for a better cross browser positioning
and the use of the `invalid` variant.

Note that although IE11 ignores the basic styles, the component is still
completely functional and accessible.
*/


// Size of the component.

$radio-size: 14px !default;


// Color for when the component is checked.

$radio-color: saturate($color-blue-50, 15%) !default;


/*
 * Add the class directly to any radio input.
 */
.radio {
    appearance: none;
    background-color: #fff;
    border: 1px solid $color-gray-50;
    border-radius: 50%;
    height: $radio-size;
    @include position(relative, 0.1em null null null);
    transition: border 100ms ease-out;
    width: $radio-size;

    &:checked {
        background-color: #fff;
        border: 5px solid $radio-color;
    }

    &:focus {
        border-color: $color-blue-50;
        box-shadow: 0 0 0 3px $color-blue-20;
        outline: 0;
    }

    &:active {
        filter: brightness(0.95) saturate(2);
    }
}


/* Validation
============================================================================= */

/*
 * Styles for radio components that failed validation.
 */
.radio--invalid {
    border-color: $color-danger;
    box-shadow: 0 0 4px scale-color($color-danger, $lightness: 20%);
}
