/*
================================================================================
Request
================================================================================
*/

.request__background {
    background-image: url(/static/img/fondo-peticiones-sm.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;

    @include media(720) {
        background-image: url(/static/img/fondo-peticiones.jpg);
    }
}

.request__container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #00000029;
    margin: 0 15px;
    max-width: 570px;
    overflow: hidden;
    padding: 15px;
    padding-bottom: 40px;
    padding-top: 30px;
    position: relative;
    width: calc(100% - 30px);

    @include media(600) {
        margin: auto;
        width: 100%;
    }
}

.request__form {
    display: flex;
    width: 200%;

    & .form-control {
        margin-bottom: 30px;
    }

    & svg {
        height: 1em;
    }
}

.request-step {
    margin-top: 45px;
    padding: 15px;
    padding-bottom: 40px;
    width: 50%;
}

.request__form--response {
    & h4 {
        font-size: 20px;
    }

    & p {
        font-size: 14px;
    }
}

.request--button {
    width: 100%;

    @include media(600) {
        width: 160px;
    }
}

.request--title {
    padding-top: 150px;
    position: relative;
}

.request__step .content-1:before {
    animation: opacity-in 500ms forwards;
    content: '1';
}

.request__step .content-2:before {
    content: '2';
}

.request__step .content-check:before {
    animation: successCheck ease-in 500ms forwards;
    content: url(../img/icons/check.svg);
    filter: invert(1);
    transform: translate(1px, 3px) scale(0.2);
}

.request__step:first-child {
    margin-right: 40px;
}

.request__step {
    & span {
        align-items: center;
        color: $color-gray-40;
        display: block;
        font: Bold 13px/10px Open Sans;
        height: 28px;
        justify-content: center;
        letter-spacing: 0;
        text-align: center;
        transition: color 3s ease-out;
        width: 28px;
    }

    & span:before {
        color: #fff;
        display: block;
        font-size: 11px;
        height: 28px;
        position: absolute;
        transform: translate(-1px, 8px);
        width: 28px;
    }

    & small {
        color: $color-gray-60;
    }

    & svg {
        height: auto;
    }
}

.request__step--active {
   & span {
        color: #CE4779;
    }

    & small {
        color: #CE4779;
    }
}

.request__step--success {
    & span {
        animation: successStep ease-in 500ms forwards;
    }

    & small {
        color: $color-gray-60;
    }
}

.request__step--success-reverse {
    & span {
        animation: successStep ease-in 500ms forwards reverse 500ms;
    }

    & small {
        color: #CE4779;
    }
}

.request__progress {
    border: 1px solid $color-gray-40;
    height: 0px;
    margin: 12px 0;
    margin-left: 15px;
    position: absolute;
    width: 85px;
}

@-moz-document url-prefix() {
    .request__progress {
        border: 1px solid $color-gray-40;
        height: 0px;
        margin: 12px 0;
        margin-left: 26px;
        position: absolute;
        width: 85px;
    }
}

.progress__success {
    background-color: $color-success;
    height: 2px;
    left: 0;
    margin: 0;
    position: absolute;
    top: -1px;
    width: 0;
}

.request__progress--full {
    width: 85px;
}

.request__progress--success {
    animation: successProgress 500ms ease-in forwards;
}

.request__progress--success-reverse {
    animation: successProgress 500ms ease-out reverse;
}

.successRequest {
    padding: 15px;
}

/*
================================================================================
Request animations
================================================================================
*/


@keyframes successProgress {
    0% {
        width: 0;
    }

    100% {
        width: 85px;
    }
}

@keyframes successStep {
    0% {
        color: #CE4779;
    }

    100% {
        color: $color-success;
    }
}

@keyframes successCheck {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }

    80% {
        opacity: 1;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(0.6);
    }
}