/*
===============================================================================
Forms
===============================================================================
*/

::placeholder {
    font-style: italic;
}

fieldset {
    border: 0;
    padding: 0;
}

input,
select,
textarea {
    background-color: #fff;
    border: 1px solid $color-border-input;
    color: $color-text;

    &[aria-invalid="true"] {
        border-color: $color-danger;
        box-shadow: 0 0 5px lighten($color-danger, 25%);
    }
}

legend,
label {
    display: inline-block;
    margin-bottom: 0.25em;
    max-width: 100%;
}

option {
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

textarea {
    resize: vertical;
}

/*
 * 1. Ignored by Safari.
 */
[type="checkbox"],
[type="radio"] {
    cursor: pointer;
    margin-right: 0.2em;
    @include position(-1px null null null);
    vertical-align: baseline;

    &[aria-invalid="true"] {
        box-shadow: 0 0 3px 1px lighten($color-danger, 10%); /* 1 */
    }
}

[type="file"] {
    overflow: hidden;
}

/*
 * Ignored by some mobile browsers.
 */
[type="radio"][aria-invalid="true"] {
    border-radius: 50%; /* 1 */
}

:disabled {
    cursor: not-allowed;
    filter: saturate(0.7);
    opacity: 0.6;
}

input:disabled:not([type="submit"]) {
    background-color: $color-gray-lighter-4;
}
