/*
===============================================================================
Page
===============================================================================
*/

body {
    background-color: #fff;
    color: $color-text;
    font: $font-weight #{rem($font-size)}/#{$line-height} $font-family;
    padding: 0;
}
