/*
===============================================================================
Headings
===============================================================================
*/

h1, h2, h3, h4, h5, h6 {
    color: $color-headings;
    font-family: $font-family-headings;
    font-weight: $font-weight-normal;
    line-height: $line-height-headings;
}

h1 {
    font-size: rem($h1-font-size);
    margin-bottom: 0;
}

h2 {
    font-size: rem($h2-font-size);
    margin-bottom: $spacer * 4;
    margin-top: $spacer * 5;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: rem($h3-font-size);
}

h4 {
    font-size: rem($h4-font-size);
}

h5 {
    font-size: rem($h5-font-size);
}

h6 {
    font-size: rem($h6-font-size);
}


/*
===============================================================================
Body
===============================================================================
*/

a {
    color: $color-link;
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
        color: $color-link-focus;
        text-decoration: underline;
    }
}

blockquote {
    background-color: $color-gray-lighter-5;
    border-left: 4px solid $color-gray-lighter-2;
    margin-bottom: $spacer * 2;
    padding: 2em 2em 2em 4em;
    position: relative;
    quotes: "\201C""\201D";

    &::before {
        color: $color-gray-lighter-1;
        content: open-quote;
        display: block;
        font: 3em/1 $font-family;
        @include position(absolute, 0.4em null null 0.4em);
    }
}

hr {
    border: 0;
    border-bottom: 1px solid $color-border;
    clear: both;
    display: block;
    height: 0;
    margin: $spacer 0;
}


/* Semantic text content
============================================================================ */

code, kbd, pre, samp, var {
    font-family: $font-family-monospace;
    font-size: 87.5%;
}

code, kbd, samp {
    display: inline-block;
    line-height: 1;
    padding: 0.25em 0.25em 0.15em;
    @include position(-1px null null null);
}

abbr[title] {
    cursor: help;
    text-decoration: underline dotted;
}

cite {
    color: $color-gray-darker-1;
}

code {
    background-color: $color-gray-lighter-3;
}

kbd {
    border: 1px solid $color-gray-lighter-2;
    border-radius: $border-radius;
}

mark {
    background-color: #ffe86b;
    color: $color-text;
}

strong {
    font-weight: $font-weight-bold;
}

sub,
sup {
    font-size: 70%;
    line-height: 0;
    margin-left: 0.25em;
}


/*
===============================================================================
Figcaption
===============================================================================
*/

figcaption {
    color: $color-gray-darker-1;
    font-size: $font-size * 0.9;
    padding-top: $spacer * 0.25;
}
